[buildout]
develop = .
parts = 
    bpcommons
find-links = 
    http://bitbucket.org/aodag/gp.recipe.pip/downloads
newest=false
versions=versions

[versions]
zc.buildout=1.5.0b2
zc.recipe.egg=1.2.3b2
gp.recipe.pip=0.5.1-aodag1

[bpcommons]
recipe = gp.recipe.pip==0.5.1-aodag1
install =
    Django>=1.1.1
    zenhan==0.4
    hg+https://project.beproud.jp/hg/bputils/@0f8555f3eaec#egg=bputils
    http://downloads.sourceforge.net/project/mecab/mecab-python/0.98/mecab-python-0.98.tar.gz
eggs =
    bpcommons
interpreter = python
